.chat-container {


  .chat-left-container {
    background-color: white;
    padding: 10px;
    border-radius: 5px;

    .left-chat-item {
      padding: 20px 5px;
      background-color: aliceblue;
      margin: 5px 0px;
    }

  }

}