.content-login {
  overflow: auto;
  background-color: #cbd7f58e;
  height: calc(100vh);
}

.content-auth {
  padding: 16px;
  overflow: auto;
  background-color: #cbd7f58e;
  height: calc(100vh - 80px);
}
